language: java
before_install:
  - "export TZ=Europe/Amsterdam"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
jdk:
  - oraclejdk8
cache:
  directories:
    - $HOME/.m2
notifications:
  email:
    recipients:
      - matthijs.kok2@gmail.com
    on_succes: never
    on_failure: always
