@font-face {
    font-family: 'New Super Mario Font U';
    src: url('/stylesheets/fonts/newSuperMario.ttf');
}

.button:hover {
    -fx-background-color: linear-gradient(#234463, #5b81a4);
}


.button {
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.94), 10, 0.0 , 0 , 1 );
    -fx-background-color: linear-gradient(#be271f, #f0001a);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

    -fx-font-family: 'New Super Mario Font U';
    -fx-font-size: 30px;
}
