@font-face {
    font-family: 'New Super Mario Font U';
    src: url('/stylesheets/fonts/newSuperMario.ttf');
}

.button:hover {
    -fx-background-color: linear-gradient(#234463, #5b81a4);
}


.button {
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.94), 10, 0.0 , 0 , 1 );
    -fx-background-color: linear-gradient(#be271f, #f0001a);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

    -fx-font-family: 'New Super Mario Font U';
    -fx-font-size: 30px;
}

.thumb {
    -fx-background-color: red;
}

.label {
    -fx-font-family: 'New Super Mario Font U';
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.94) , 0, 0, 1, 3);
}

.text-field {
    -fx-font-family: 'New Super Mario Font U';
    -fx-font-size: 25px;
    -fx-text-fill: #234463;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.94) , 0, 0, 1, 3);
}

.player-text {
    -fx-font-size: 35px;
    -fx-text-fill: white;
}



